
    .cp004 { position:relative; margin:0 auto 40px/*하단여백*/; }
    .cp004:after { content:""; display:block; *zoom:1; clear:both; }
    .cp004 > ul > li:first-child { margin:0; }
    .cp004 > ul > li { float:left; width:32.106%; margin:0 0 0 1.841%; overflow:hidden; }
    .cp004 > ul > li img { width:100%; }