
    .cp009 { position:relative; margin:0 auto 40px/*하단여백*/; }
    .cp009:after { content:""; display:block; *zoom:1; clear:both; }
    .cp009 > ul > li:first-child { margin:0; }
    .cp009 > ul > li { float:left; width:25%; overflow:hidden; }
    .cp009 > ul > li img { width:100%; }

	/* 스마트폰 세로 */
	@media all and (max-width:575px) {
        .cp009 > ul > li { width:50%; }
	}