
	.cp535 { position:relative; margin:0 0 80px; }
	.cp535 .title span { padding:0 0 0 15px; font-size:80%; font-weight:normal; color:#111; }
	.cp535.-switch .xans-product-relation { max-width:1260px; }
	.cp535.-switch.st1 .xans-product-relation { max-width:1260px; }
	.cp535.-switch.st2 .xans-product-relation { max-width:1900px; }

	.cp535 .xans-product-relationlist { display:flex; flex-flow:wrap row; justify-content:flex-start; position:relative; width:100%; margin:20px 0 0; }
	.cp535 .xans-product-relationlist > li { align-self:flex-start; position:relative; margin:0 .5% 30px 0; vertical-align:top; }
    @media all and (max-width:960px) {
        .cp535 .xans-product-relationlist > li { flex:0 0 48.5%; margin:0 3% 30px 0; }
        .cp535 .xans-product-relationlist > li:nth-child(2n) { margin:0 0 30px; }
    }
    @media all and (min-width:961px) and (max-width:1200px) {
        .cp535 .xans-product-relationlist > li { flex:0 0 32.083%; margin:0 1.8% 30px 0; }
        .cp535 .xans-product-relationlist > li:nth-child(3n) { margin:0 0 30px; }
    }
    @media all and (min-width:1201px) {
        .cp535 .xans-product-relationlist > li { flex:0 0 23.810%; margin:0 1.5% 30px 0; }
        .cp535 .xans-product-relationlist > li:nth-child(4n) { margin:0 0 30px; }
    }
	.cp535 .xans-product-relationlist > li .thumb { display:block; margin:0 0 20px; outline:1px solid #eee/*상품이미지 테두리*/; }
	.cp535 .xans-product-relationlist > li .thumb .check { position:absolute; top:7px; left:7px; }
	.cp535 .xans-product-relationlist > li .thumb img { width:100%; }

    .cp535 .description .name { display:block; line-height:19px; margin:0 0 10px; padding:0 0 10px; border-bottom:1px solid #eee; font-size:110%; color:#111; text-decoration:none; }
    .cp535 .description .price { width:100%; line-height:16px; margin:0 0 10px; font-size:100%; color:#333; }
    .cp535 .description .price li { padding:5px 0 0; }
    .cp535 .description .price .strike { font-weight:normal; font-size:95%; color:#999; }
    .cp535 .description .price strong,
    .cp535 .description .price .salePrice { font-weight:bold; font-size:110%; color:#111; }
    .cp535 .description .status { display:flex; flex-flow:wrap row; justify-content:flex-start; position:relative; width:100%; }
    .cp535 .description .status img { align-self:flex-start; position:relative; vertical-align:top; width:auto; margin:0 5px 5px 0; }

	.cp535 .option { margin:10px 0 0; padding:5px 0 0; border-top:1px solid #eee; }
	.cp535 .option tr { vertical-align:top; }
	.cp535 .option td { padding:5px 0 0; vertical-align:top; }
	.cp535 .option td span { display:inline-block; width:25%; }
	.cp535 .option select { width:70%; max-width:120px; }
	.cp535 .option input[type=text] { width:70%; max-width:120px; }
	.cp535 .option .quantity input { width:50px; margin:0 2px 0 0; }
	.cp535 .option .quantity button { position:relative; top:3px; width:32px; height:32px; line-height:20px; background:none; border-radius:50%; border:1px solid #ddd; font-size:20px; }

	.cp535 .checkOut { display:block; width:100%; text-align:center; }
	.cp535 .checkOut .-btn { margin:0 2px; }