
	.cp500 { position:relative; }
    .cp500 .owl-carousel.ul { position:relative; width:100%; max-width:2000px; margin:0 auto; overflow:hidden; }
    .cp500 .owl-carousel.ul li { position:relative; overflow:hidden; }
    .cp500 .owl-carousel.ul li a { display:block; }
    .cp500 .owl-carousel.ul li a img { position:absolute; bottom:0; left:50%; transform:translate(-50%,0); }

        /* 텍스트 애니메이션 */
		/* 기본 구조 및 정렬 */
        .cp500 .owl-carousel.ul li .text { display:block; position:absolute; top:48%; left:50%; max-width:1100px; width:90%; height:0; padding:0 5%; white-space:break-space; transform:translate(-50%,-50%); }
        .cp500 .owl-carousel.ul li .text.left { }
        .cp500 .owl-carousel.ul li .text.center { text-align:center; }
        .cp500 .owl-carousel.ul li .text.right { text-align:right; }
		/* 텍스트 기본 설정 */
        .cp500 .owl-carousel.ul li t1,
        .cp500 .owl-carousel.ul li t2,
        .cp500 .owl-carousel.ul li t3,
        .cp500 .owl-carousel.ul li t4 { display:block; position:relative; width:100%; color:#111; letter-spacing:-0.05em; opacity:0; white-space:break-space; }
		/* 글자 설정 */
        .cp500 .owl-carousel.ul li t1 { font-size:150%; }
        .cp500 .owl-carousel.ul li t2 { margin:0; font-size:250%; }
        .cp500 .owl-carousel.ul li t3 { margin:3% 0 0; font-size:120%; }
        .cp500 .owl-carousel.ul li t4 { min-width:80px; width:12%; line-height:250%; margin:8% 0 0; border-radius:5px; background:rgba(0,0,0,.8); font-size:100%; color:#fff; text-align:center; }
        .cp500 .owl-carousel.ul li .text.center t4 { margin:8% auto 0; }
        .cp500 .owl-carousel.ul li .text.right t4 { float:right; }
        .cp500 .owl-carousel.ul li b { font-weight:bold; }
        @media all and (max-width:575px) {
        	.cp500 .owl-carousel.ul li .text { top:43%; font-size:52%; }
        	.cp500 .owl-carousel.ul li .text.left {width:55%;padding:0;margin:10% 0 0 -10%;}
        	.cp500 .owl-carousel.ul li .text.center { }
        	.cp500 .owl-carousel.ul li .text.right { width:55%; padding:0 0 0 32%; }
		}
		@media all and (min-width:576px) and (max-width:960px) {
        	.cp500 .owl-carousel.ul li .text { top:48%; font-size:70%; }
        	.cp500 .owl-carousel.ul li .text.left {width:45%;padding:0;margin:5% 0 0 -24%;}
        	.cp500 .owl-carousel.ul li .text.center { }
        	.cp500 .owl-carousel.ul li .text.right { width:45%; padding:0 10% 0 45%; }
		}
		@media all and (min-width:961px) and (max-width:1200px) {
        	.cp500 .owl-carousel.ul li .text { top:50%; font-size:85%; }
        	.cp500 .owl-carousel.ul li .text.left {width:40%;padding:0;margin:0 0 0 -24%;}
        	.cp500 .owl-carousel.ul li .text.center { }
        	.cp500 .owl-carousel.ul li .text.right { width:40%; padding:0 10% 0 50%; }
		}

		.cp500 .owl-item.active t1 { animation-name:move_in; animation-delay:1.0s; }
		.cp500 .owl-item.active t2 { animation-name:move_in; animation-delay:1.2s; }
		.cp500 .owl-item.active t3 { animation-name:move_in; animation-delay:1.4s; }
		.cp500 .owl-item.active t4 { animation-name:move_in; animation-delay:1.6s; }
		.cp500 .owl-item.active t1,
		.cp500 .owl-item.active t2,
		.cp500 .owl-item.active t3,
		.cp500 .owl-item.active t4 { animation-duration:0.6s; animation-direction:alternative; animation-iteration-count:1; animation-fill-mode:both; }
        @keyframes move_in {
            0% { top:20px; opacity:0; }
            70% { top:-5px; opacity:0.85; }
            100% { top:0px; opacity: 1; }
        }

	/* 유튜브 */
    .cp500 .owl-carousel.ul li.youtube { width:100%; line-height:0; margin:0 auto; padding:0; font-size:0; }
    .cp500 .owl-carousel.ul li iframe { position:relative; top:45px; left:50%; border:0; transform:translate(-50%, 0); } /* 메뉴아래 유튜브 height:597px !important; margin:253px 0 0; */
        .cp500 .owl-carousel.ul .owl-dots .owl-dot .yt-mute { display:inline-block; position:relative; top:4px; left:9px; float:right; width:30px; height:19px; line-height:20px; border-radius:10px; background:rgba(255,255,255,0.2); color:#fff; text-indent:0px; font-size:1em; transition:all .3s ease; }
        .cp500 .owl-carousel.ul .owl-dots .owl-dot.active .yt-mute { color:#ccc; }
        .cp500 .owl-carousel.ul .owl-dots .owl-dot .yt-text { }
        .cp500 .owl-carousel.ul .owl-dots .owl-dot .yt-mute:hover { opacity:.5; }

	/* 방향키와 버튼의 기본 속성은 /_wg/css/wg.css 에서 불러옵니다. */ 
	/* 방향키 */
    .cp500 .owl-carousel.ul .owl-nav .owl-prev { top:68%!important; width:55px!important; height:75px!important; background-image:url('/_wg/img/_arrow/arrowLW_50.gif'); background-size:60%!important }
    .cp500 .owl-carousel.ul .owl-nav .owl-next { top:68%!important; width:55px!important; height:75px!important; background-image:url('/_wg/img/_arrow/arrowRW_50.gif'); background-size:60%!important; }
	/* 버튼 */
    .cp500 .owl-carousel.ul .owl-dots { opacity:1.0; }
    .cp500 .owl-carousel.ul .owl-dots .owl-dot { width:auto; padding:0 17px; border-radius:15px; }
    .cp500 .owl-carousel.ul:hover .owl-dots .owl-dot { height:30px; }
    .cp500 .owl-carousel.ul .owl-dots .owl-dot.active { width:auto; }

	@media all and (max-width:575px) {
        .cp500 { top:-162px; margin:0 0 -120px; }
    	.cp500 .owl-carousel.ul li a { height:440px/*필수*/; }
    	.cp500 .owl-carousel.ul li a img { width:927px; height:440px; }
    	.cp500 .owl-carousel.ul li iframe { top:162px; width:570px; height:320px; padding:0 0 120px; }
        .cp500 .owl-carousel.ul .owl-dots .owl-dot { width:7px; padding:0 3px; }
	}
	@media all and (min-width:576px) and (max-width:960px) {
        .cp500 { top:-235px; margin:0 0 -180px; }
    	.cp500 .owl-carousel.ul li a { height:630px/*필수*/; }
    	.cp500 .owl-carousel.ul li a img { width:1326px; height:630px; }
    	.cp500 .owl-carousel.ul li iframe { width:1220px; height:630px; }
        .cp500 .owl-carousel.ul .owl-dots .owl-dot { width:7px; padding:0 3px; }
	}
	@media all and (min-width:961px) and (max-width:1200px) {
        .cp500 { top:-289px; margin:0 0 -240px; }
    	.cp500 .owl-carousel.ul li a { height:780px/*필수*/; }
    	.cp500 .owl-carousel.ul li a img { width:1642px; height:780px; }
    	.cp500 .owl-carousel.ul li iframe { top:23px; width:1310px; height:780px; }
	}
	@media all and (min-width:1201px) {
        .cp500 { top:-340px; margin:0 0 -280px; }
    	.cp500 .owl-carousel.ul li a { height:920px; }
    	.cp500 .owl-carousel.ul li a img { width:2000px; height:920px; }
        .cp500 .owl-carousel.ul li.youtube { background:#000; }
    	.cp500 .owl-carousel.ul li iframe { width:1480px; height:920px; }
	}