
    /* 버튼 */
    .cp791.btn { }

	/* 팝업 */
    .cp791.popup { display:none; top:51%; width:100%; height:0; opacity:0; transition:opacity .4s, top .3s .5s ease; }
    .cp791.popup.on { opacity:1; top:50%; }
    .cp791.popup .part_01 { position:absolute; top:50%; left:50%; width:85vw; max-width:800px; height:75vh; border-radius:25px; transform:translate(-50%, -50%); background:rgba(255,255,255,.15); }
    .cp791.popup .scrollbar_box { height:100%; }

    .cp791.popup ul { line-height:0; font-size:0; }
    .cp791.popup ul li { display:inline-block; width:20%; margin:0 0 3%; vertical-align:top; }
    .cp791.popup ul li a { display:block; line-height:20px; font-size:11px; color:#fff; text-align:center; }
    .cp791.popup ul li i { display:block; width:60px; height:60px; line-height:60px; margin:0 auto 5px; border-radius:20%; background:rgba(255,255,255,.95); box-shadow:0 0 4px rgba(0,0,0,.5); font-size:2.5em; color:#111; text-align:center; transition:background .3s ease; }
    .cp791.popup ul li i:hover { text-decoration:none; }
    .cp791.popup ul li:hover i { background:rgba(255,255,255,.6); text-decoration:none; }

	/* 스마트폰 세로 */
	@media all and (max-width:575px) {
    	.cp791.popup .part_01 { padding:8% 3% 8% 3%; }
    	.cp791.popup ul li { width:25%; margin:0 0 6%; }
        .cp791.popup ul li i { width:50px; height:50px; line-height:50px; }
	}
	/* 스마트폰 가로 + 테블릿 세로 */
	@media all and (min-width:576px) and (max-width:960px) {
    	.cp791.popup .part_01 { padding:7% 2%; }
    	.cp791.popup ul li { width:20%; margin:0 0 6%; }
	}
	/* 테블릿 가로 + 데스크탑 */
	@media all and (min-width:961px) {
    	.cp791.popup .part_01 { max-height:550px; padding:40px 10px 20px 30px; }
	}