
/** 추가메뉴1,2 **/
    .lineMenu.categorySub { position:relative; float:left; z-index:11; }
    .lineMenu.categorySub a { display:block; color:#333; font-size:12px; }
    .lineMenu.categorySub a:hover { color:#111; text-decoration:none; }
    .lineMenu.categorySub li { position:relative; }

    .lineMenu.categorySub.m01 { margin:0 0 0 10px; }
    .lineMenu.categorySub.m02 { margin:0; }

    /* 1depth */
    .lineMenu.categorySub > li { float:left; }
    .lineMenu.categorySub > li:first-child { background:none; }
    .lineMenu.categorySub > li > a { display:block; line-height:50px; padding:0 12px;/*대분류 간격*/ font-size:12px;/*대분류 폰트사이즈*/ text-align:center; }
    /* 1280px 이하 */
    @media all and (max-width:1285px){
        .lineMenu.categorySub > li > a { padding:0 5px;/*대분류 간격*/ font-size:11px;/*대분류 폰트사이즈*/ }
    }
    .lineMenu.categorySub > li > a:hover,
    .lineMenu.categorySub > li.on > a { background:rgba(255,255,255,.8)/*배경색(마우스오버)*/; font-weight:bold/*대분류 굵기(마우스오버)*/; color:#111/*대분류색상(마우스오버)*/; transition:all .2s ease; -webkit-transition:all .2s ease; }
    
    /* 2depth */
    .lineMenu.categorySub > li > ul { display:none; position:absolute; top:50px; left:0; min-width:160px; padding:10px 0; border:1px solid rgba(0,0,0,.1); background:#fff; }
    .lineMenu.categorySub > li > ul > li.arrow { background:url('/_wg/img/arrow_menu.gif') no-repeat 95% 50%; }
    .lineMenu.categorySub > li > ul > li > a { line-height:27px; padding:0 20px 0 15px; transition:all .2s ease; -webkit-transition:all .2s ease; }
    .lineMenu.categorySub > li > ul > li > a:hover,
    .lineMenu.categorySub > li > ul > li.on > a { background:rgba(0,0,0,.05); color:#111; }

    /* 3depth */
    .lineMenu.categorySub > li > ul > li > ul { display:none; position:absolute; top:-11px; left:160px; min-width:150px; padding:10px 0; border:1px solid rgba(0,0,0,.1); background:#fff; }
    .lineMenu.categorySub > li > ul > li > ul > li.arrow { background:url('/_wg/img/arrow_menu.gif') no-repeat 95% 50%; }
    .lineMenu.categorySub > li > ul > li > ul > li > a { line-height:27px; padding:0 0 0 15px; color:#555; transition:all .2s ease; -webkit-transition:all .2s ease; }
    .lineMenu.categorySub > li > ul > li > ul > li > a:hover,
    .lineMenu.categorySub > li > ul > li > ul > li.on > a { background:rgba(0,0,0,.05); color:#111; }

    /* 4depth */
    .lineMenu.categorySub > li > ul > li > ul > li > ul { display:none; position:absolute; top:-5px; left:140px; min-width:150px; padding:7px 0; border:1px solid rgba(0,0,0,.1); background:#fff; }
    .lineMenu.categorySub > li > ul > li > ul > li > ul > li a { line-height:27px; padding:0 0 0 15px; color:#555; transition:all .2s ease; -webkit-transition:all .2s ease; }
    .lineMenu.categorySub > li > ul > li > ul > li > ul > li a:hover { background:rgba(0,0,0,.05); color:#111; }



    
/** 추가메뉴3 **/
    .lineMenu.categorySub.m03 { position:absolute; z-index:12; right:0; top:0; height:50px; }

    .lineMenu.categorySub.m03 > li { float:left; border-left:1px solid rgba(0,0,0,0.1); }
    .lineMenu.categorySub.m03 > li > a { position:relative; z-index:3; display:block; line-height:50px; padding:0 10px; background:url('/_wg/img/bg_slash_b.png'); font-size:12px;/*대분류폰트사이즈*/ color:#222/*대분류 색상*/; text-align:center; transition:all .3s ease; -webkit-transition:all .3s ease; }
    .lineMenu.categorySub.m03 > li > a:hover,
    .lineMenu.categorySub.m03 > li.on > a { background-color:rgba(0,0,0,.08); font-weight:bold; color:#111; text-decoration:none; }

    .lineMenu.categorySub.m03 > li i { top:3px; font-size:14px; }
    
    .lineMenu.categorySub.m03 > li > ul { display:none; position:absolute; z-index:4; top:50px; width:300px; height:422px; margin:0 0 0 -190px; padding:0 0 5px; background:#fff; border:1px solid #ddd; text-align:left; overflow:hidden; }


    /* 움직이는 아이콘 */
    .lineMenu.categorySub .sale_ico { position:absolute; top:-17px; left:50%; width:51px; height:26px; line-height:23px; margin-left:-25px; background:url('/_wg/img/SD_timeSale/ico.png') no-repeat; border-radius:5px; font-weight:bold; font-size:10px; text-align:center; color:#fff; filter:alpha(opacity=100); opacity:1; -webkit-opacity:1; transition:opacity .8s .5s, top .8s .5s ease !important; -webkit-transition:opacity .8s .5s, top .8s .5s ease; !important; }
    #header_03.fixed .lineMenu.categorySub .sale_ico { top:-22px; filter:alpha(opacity=0); opacity:0; -webkit-opacity:0; transition-delay:.8s; -webkit-transition-delay:.8s; }

    .lineMenu.categorySub.m03 object { width:330px; height:450px; }

