    
/** 전체카테고리(커스텀) **/
    .category_full_custom { position:absolute; z-index:10; left:0; height:48px; }
    #fix_02.fixed .category_full_custom { left:50px; }
    .category_full_custom a { display:block; }
    
    /*1뎁쓰*/
    .category_full_custom .DB_d1 { position:relative; }
    .category_full_custom .DB_d1 > li > a { cursor:pointer; float:left; width:50px; height:50px; border-left:1px solid #ddd; border-right:1px solid #ddd; background:url('/_wg/img/btn_off_b.gif') no-repeat; }
    .category_full_custom .DB_d1 > li > a:hover { background-color:#ddd; }
    .category_full_custom .DB_d1 > li.DB_select > a { background:url('/_wg/img/btn_on_b.gif') no-repeat #ddd; }
    
    /*2뎁쓰*/
    .category_full_custom .DB_d2 { position:absolute; z-index:20; display:none; top:50px; left:0; width:1254px; min-height:220px; padding:5px 0 10px 5px; border:1px solid #555; background:#fff; font-size:0; line-height:0; letter-spacing:-4px; }

        /* 내부 메뉴들 */
        .category_full_custom .menu_section { position:relative; display:inline-block; *display:inline; *zoom:1; width:190px; margin:8px 8px 20px 8px; vertical-align:top; font-size:13; line-height:28px; letter-spacing:0; }
        .category_full_custom .menu_section h4 { display:block; }
        .category_full_custom .menu_section h4 a { height:30px; margin:0 0 10px; padding:0 0 0 10px; background:none; border-bottom:1px solid #ddd; color:#666; font-size:13px; line-height:28px; font-weight:700;
            transition:all .2s ease; -webkit-transition:all .2s ease;
        }
        .category_full_custom .menu_section:hover h4 a { border-bottom:1px solid #333; color:#000; text-decoration:none; }
        
        .category_full_custom .menu_section a { display:block; padding:0 0 0 10px; font-size:12px; color:#777; line-height:22px;
            transition:all .2s ease; -webkit-transition:all .2s ease;
        }
        .category_full_custom .menu_section a:hover { color:#000; font-weight:700; text-decoration:none; }
    
    
        /* 1265px 이하 */
        @media all and (max-width:1265px){
            .category_full_custom .DB_d2 { width:973px; }
            .category_full_custom .DB_d2 .menu_section { width:175px; }
            .category_full_custom .DB_d2 .menu_section p { font-size:11px; }
        }


    #fix_02.fixed .category_full_custom .DB_d2 { left:-50px; }

    /* 1280px 이하 */
    @media all and (max-width:1285px){
        .category_full_custom .DB_d2 { width:973px; }
        .category_full_custom .menu_section { width:177px; }
        .category_full_custom .menu_section a { font-size:11px; }
    }