
    #category_full_m { position:relative; float:left; z-index:11; }
    #category_full_m a { display:block; color:#777; font-size:12px; line-height:24px; }
    #category_full_m a:hover { color:#111; text-decoration:none; }
    #category_full_m li { position:relative; display:block; }

    /* 1depth 전체메뉴버튼 */
    #category_full_m > li { position:relative; z-index:10; float:left; width:50px; height:50px; border-left:1px solid #ddd; border-right:1px solid #ddd; background:url('/_wg/img/btn_all_off_b.png') no-repeat 0 0 #fff; cursor:pointer; transition:all .3s ease; -webkit-transition:all .3s ease; }
    #category_full_m > li > a { font-size:0; }
	#category_full_m > li.on { background:url('/_wg/img/btn_all_hover_b.png') no-repeat 0 0 #f4f4f4; }
	#category_full_m > li.fix { background:url('/_wg/img/btn_all_on_b.png') no-repeat 0 0 #f4f4f4; }
    
    /* 2depth */
    #category_full_m > li > ul { position:absolute; z-index:20; display:none; top:50px; left:-1px; width:1253px; min-height:220px; max-height:600px; padding:5px 0 40px 5px; border:1px solid #555; background:#fff; overflow-y:/*auto*/; }
    #category_full_m > li > ul > li { position:relative; display:inline-block; *display:inline; *zoom:1; width:190px; margin:8px 8px 20px 8px; vertical-align:top; font-size:12px; line-height:28px; letter-spacing:0; }
    #category_full_m > li > ul > li > a { height:30px; margin-bottom:10px; padding-left:10px; background:none; border-bottom:1px solid #ddd; font-size:13px; line-height:28px; font-weight:700; transition:all .2s ease; -webkit-transition:all .2s ease; }
    #category_full_m > li > ul > li > a:hover,
    #category_full_m > li > ul > li.on > a { border-bottom:1px solid #333; color:#111; }
    
    /* 3depth */
    #category_full_m > li > ul > li > ul { display:block !important; }
    #category_full_m > li > ul > li > ul > li > a { padding:0 0 0 10px; transition:all .2s ease; -webkit-transition:all .2s ease; }
    #category_full_m > li > ul > li > ul > li > a:hover,
    #category_full_m > li > ul > li > ul > li.on > a { background:#f4f4f4; color:#111; }

    /* 4depth */
    #category_full_m > li > ul > li > ul > li > ul { display:none; position:absolute; z-index:1; left:150px; top:-7px; padding:10px 0; background:#fff; border:1px solid #ddd; }
    #category_full_m > li > ul > li > ul > li > ul > li a { min-width:150px; padding:0 10px; transition:all .2s ease; -webkit-transition:all .2s ease; }
    #category_full_m > li > ul > li > ul > li > ul > li a:hover { background:#f4f4f4; color:#111; }

    /* 1280px 이하 */
    @media all and (max-width:1285px){
        #category_full_m > li > a { padding:0 5px;/*대분류폭*/ font-size:11px;/*대분류 폰트사이즈*/ }
    }