
    .coupon_popup .titleArea2 { display:none; } /* 팝업에서 타이틀은 보이지 않음 */

	/* 버튼 */
    .coupon_popup.btn { display:inline-block; position:relative; z-index:30; height:0; line-height:0; font-size:0; transition:all .3s 1s ease; }
    .coupon_popup.btn.on { opacity:0; transform:scale(0,0); }
    .coupon_popup.btn a:first-child { display:block; }
    .coupon_popup.btn a { display:none; position:relative; top:-5px; left:10px; width:90px; line-height:28px; font-size:13px; text-align:center; transition:opacity .3s ease; }
    .coupon_popup.btn a:hover { text-decoration:none; opacity:.6; }
    .coupon_popup.btn i { top:3px; font-size:18px; }

	/* 팝업 */
    .coupon_popup.popup { display:none; position:relative; top:50%; left:50%; max-width:750px; transform:translate(-50%,-48%); opacity:0; transition:opacity .3s, transform .3s .5s ease; }
    .coupon_popup.popup.on { opacity:1; transform:translate(-50%, -50%); }
        /* 닫기버튼 */
        .coupon_popup.popup .p-close { position:absolute; z-index:10; top:0px; right:0; width:27px; height:27px; background:url('/_wg/img/_btn/btn_x_w_11.gif') no-repeat center rgba(0,0,0,.8); cursor:pointer; opacity:0; transition:all .3s ease; }
        .coupon_popup.popup:hover .p-close { opacity:1; }

    .coupon_popup.popup .couponZone { min-height:150px; padding:30px 0; background:rgba(255,255,255,.15); }
    .coupon_popup.popup .couponZone .scrollbar_box { height:100%; }

	/* 스마트폰 세로 */
	@media all and (max-width:575px) {
    	.coupon_popup.btn { display:none; }
		.coupon_popup.popup .couponSkinArea { height:380px; margin:0 0 40px; }
	}