
    .JS_layerBnr_position { position:fixed; z-index:998; bottom:0; width:0; height:0; }
    .JS_layerBnr { position:absolute; left:80px; bottom:20px; width:80px; height:80px; }

	/* 버튼 */
	.JS_layerBnr .d_open { transition:all .3s ease; -webkit-transition:all .3s ease; }
	.JS_layerBnr .d_open:hover { opacity:.6; }
	.JS_layerBnr .d_open img { position:absolute; left:-80px; transition:all .2s 1s ease; -webkit-transition:all .2s 1s ease; }
	.JS_layerBnr .d_open.on img { opacity:0; transform:scale(0,0); transition-delay:1s; } /*팝업오픈시*/
    
	/* 팝업디자인 */
    .JS_layerBnr .d_winBanner { position:absolute; left:0; bottom:10px; width:500px; height:500px; box-shadow:0 3px 10px rgba(0,0,0,0.2); overflow:hidden; visibility:hidden; }

	/* 닫기버튼 */
    .JS_layerBnr .d_winBanner .d_close { position:absolute; z-index:10; top:0px; right:0; width:27px; height:27px; background:url('/_wg/img/_btn/btn_x_w_11.gif') no-repeat center rgba(0,0,0,.8); cursor:pointer; opacity:0; -webkit-opacity:0; transition:all .3s ease; -webkit-transition:all .3s ease; }
    .JS_layerBnr:hover .d_winBanner .d_close { opacity:1; -webkit-opacity:1; }

	/* 체크박스 */
    .JS_layerBnr .d_winBanner #d_checkBox { display:none; }


    	/* 슬라이드배너 */
        .JS_layerBnr_roll { position:relative; width:500px; height:500px; background:rgba(255,255,255,.95); overflow:hidden; }
        .JS_layerBnr_roll .img { position:relative; height:100%; }
        .JS_layerBnr_roll .img li { position:absolute; width:100%; height:100%; left:100%; }
        .JS_layerBnr_roll .img li:first-child { z-index:1; left:0; }
        .JS_layerBnr_roll .img li img { width:100%; }

        /* 텍스트버튼 */
        .JS_layerBnr_roll .btn { position:absolute; z-index:3; bottom:0; width:100%; height:30px; background:rgba(0,0,0,.4); text-align:center; letter-spacing:-4px; font-size:0; }
        .JS_layerBnr_roll .btn li { position:relative; bottom:0; display:inline-block; *display:inline; *zoom:1; line-height:30px; padding:0 20px; color:#ccc/*메뉴색상*/; font-size:12px/*메뉴사이즈*/; cursor:pointer; letter-spacing:0; transition:all .2s ease; -webkit-transition:all .2s ease; }
        .JS_layerBnr_roll .btn li span { position:absolute; left:0; top:0; width:0; height:2px; background:rgba(255,255,255,.4); text-indent:-9999px; } /*타이머*/
        .JS_layerBnr_roll .btn li.on { z-index:1; background:rgba(0,0,0,.6)/*버튼배경색(마우스오버)*/; color:#fff/*메뉴색상(마우스오버)*/; }
