
	.move-btn { position:fixed; z-index:100; left:-30px; top:40%; width:40px; opacity:0; transition:opacity .3s, left .5s .14s ease; -webkit-transition:opacity .3s, left .5s .14s ease; }
	.move-btn.on { left:0; opacity:.8; transition:opacity .3s .3s, left .5s ease; -webkit-transition:opacity .3s .3s, left .5s ease; }
	.move-btn.on:hover { opacity:1; }

	.move-btn li { display:block; position:relative; width:15px; height:15px; border-radius:10px; margin:0 0 0 10px; background:url('/_wg/img/_dot/dotG_7.png') no-repeat 50% 50%; cursor:pointer; transition:all .3s ease; -webkit-transition:all .3s ease; }
	.move-btn li:hover { z-index:1; background:url('/_wg/img/_dot/dotB_7.png') no-repeat 50% 50%; }
	.move-btn li.on { background:url('/_wg/img/_dot/dotB_7.png') no-repeat 50% 50%; }


	.move-btn li div { position:absolute; display:block; top:-6px; left:-200px; max-width:120px; line-height:26px; padding:0 10px 0 15px; border-right:1px solid rgba(0,0,0,.1); background:url('/_wg/img/JS_mainMenu_arrow.gif') no-repeat rgba(255,255,255,.9); opacity:0; text-overflow:ellipsis; overflow:hidden; white-space:nowrap; cursor:default; transition:opacity .3s ease; -webkit-transition:opacity .3s ease; }
	.move-btn li:hover div,
	.move-btn li.on div { left:17px; opacity:1; }

	.move-btn li p,
	.move-btn li i,
	.move-btn li span { display:none !important; }
