
    .JS_wingBnr_wrap { position:absolute; z-index:19; top:0; left:50%; width:0px; height:0px; }
    .JS_wingBnr.left { position:absolute; width:100px; top:909px; left:-740px; margin-top:110px; }
    .JS_wingBnr.right { position:absolute; width:100px; top:909px; right:-740px; margin-top:110px; }
    .JS_wingBnr_wrap a { display:block; margin-bottom:10px; }