
/** 페이지 **/
    .jsBtn { position:absolute; z-index:3; bottom:10px; width:100%; letter-spacing:-4px; font-size:0; line-height:0; opacity:0; transition:opacity .3s 8s ease; }
    div:hover > .jsBtn { opacity:1.0; transition-delay:0s; }
    .jsBtn li { position:relative; display:inline-block; *display:inline; *zoom:1; height:3px; margin:0 2px; padding:5px 0; cursor:pointer; }
    .jsBtn li div { height:2px; background:#ccc; font-size:0; transition:all .3s ease; }
    .jsBtn li.on div { background:#999; }
    .jsBtn li span { position:absolute; left:0; display:block; width:0; height:2px; background:#111; text-indent:-9999px; }/* 타이머 */

		/* 사이즈(가로사이즈) */
		.jsBtn.s10 li div { width:10px; }
		.jsBtn.s10 li.on div { width:18px; }

		.jsBtn.s15 li div { width:15px; }
		.jsBtn.s15 li.on div { width:25px; }

		.jsBtn.s20 li div { width:20px; }
		.jsBtn.s20 li.on div { width:30px; }

		.jsBtn.s25 li div { width:25px; }
		.jsBtn.s25 li.on div { width:38px; }

		/* 정렬 */
		.jsBtn.left { left:5px; text-align:left; }
		.jsBtn.right { left:-5px; text-align:right; }
    	.jsBtn.center { text-align:center; }



/** 가로 방향키 **/
    .jsDir.low { position:absolute; z-index:10; width:100%; top:50%; height:0; cursor:pointer; opacity:0; transition:all .3s ease; }
    div:hover > .jsDir.low { opacity:1; }
    
	/** 위치 **/
        /* 좌우 */
        .jsDir.low span { position:absolute; transition:all .3s ease; }
        .jsDir.low .prev { left:-5px !important; background-color:rgba(0,0,0,.2); background-repeat:no-repeat; background-position:50% 50%; }
        .jsDir.low .next { right:-5px; background-color:rgba(0,0,0,.2); background-repeat:no-repeat; background-position:50% 50%; }
        .jsDir.low .prev:hover { background-color:rgba(0,0,0,.4); }
        .jsDir.low .next:hover { background-color:rgba(0,0,0,.4); }
        div:hover > .jsDir.low .prev { left:0px !important; }
        div:hover > .jsDir.low .next { right:0px; }

	/** 사이즈 **/
		/* 화이트 */
		/* 15px */
		.jsDir.low.s15w  { margin-top:-12.5px; }
		.jsDir.low.s15w span { width:18px; height:25px; }
        .jsDir.low.s15w .prev { background-image:url('/_wg/img/_arrow/arrowLW_15.gif'); }
        .jsDir.low.s15w .next { background-image:url('/_wg/img/_arrow/arrowRW_15.gif'); }

		/* 21px */
		.jsDir.low.s21w  { margin-top:-22.5px; }
		.jsDir.low.s21w span { width:35px; height:45px; }
        .jsDir.low.s21w .prev { background-image:url('/_wg/img/_arrow/arrowLW_21.gif'); }
        .jsDir.low.s21w .next { background-image:url('/_wg/img/_arrow/arrowRW_21.gif'); }

		/* 35px */
		.jsDir.low.s35w  { margin-top:-32.5px; }
		.jsDir.low.s35w span { width:50px; height:65px; }
        .jsDir.low.s35w .prev { background-image:url('/_wg/img/_arrow/arrowLW_35.gif'); }
        .jsDir.low.s35w .next { background-image:url('/_wg/img/_arrow/arrowRW_35.gif'); }

		/* 50px */
		.jsDir.low.s50w  { margin-top:-42.5px; }
		.jsDir.low.s50w span { width:65px; height:85px; }
        .jsDir.low.s50w .prev { background-image:url('/_wg/img/_arrow/arrowLW_50.gif'); }
        .jsDir.low.s50w .next { background-image:url('/_wg/img/_arrow/arrowRW_50.gif'); }


		/* 블랙 */
		/* 15px */
		.jsDir.low.s15b  { margin-top:-12.5px; }
		.jsDir.low.s15b span { width:18px; height:25px; }
        .jsDir.low.s15b .prev { background-image:url('/_wg/img/_arrow/arrowL_15.gif'); }
        .jsDir.low.s15b .next { background-image:url('/_wg/img/_arrow/arrowR_15.gif'); }

		/* 21px */
		.jsDir.low.s21b  { margin-top:-22.5px; }
		.jsDir.low.s21b span { width:35px; height:45px; }
        .jsDir.low.s21b .prev { background-image:url('/_wg/img/_arrow/arrowL_21.gif'); }
        .jsDir.low.s21b .next { background-image:url('/_wg/img/_arrow/arrowR_21.gif'); }

		/* 35px */
		.jsDir.low.s35b  { margin-top:-32.5px; }
		.jsDir.low.s35b span { width:50px; height:65px; }
        .jsDir.low.s35b .prev { background-image:url('/_wg/img/_arrow/arrowL_35.gif'); }
        .jsDir.low.s35b .next { background-image:url('/_wg/img/_arrow/arrowR_35.gif'); }

		/* 50px */
		.jsDir.low.s50b  { margin-top:-42.5px; }
		.jsDir.low.s50b span { width:65px; height:85px; }
        .jsDir.low.s50b .prev { background-image:url('/_wg/img/_arrow/arrowL_50.gif'); }
        .jsDir.low.s50b .next { background-image:url('/_wg/img/_arrow/arrowR_50.gif'); }


    div:hover .jsDir.low > .prev { left:0px; }
    div:hover > .jsDir.low .next { right:0px; }
    div > .jsDir.low span:hover { background-color:rgba(0,0,0,.4) !important; }/* 마우스오버시 버튼색상 */




/** 세로 방향키 **/
    .jsDir.vtl { position:absolute; z-index:10; top:-5px; left:0; width:100%; height:0; cursor:pointer; opacity:0; transition:all .3s ease; }
    div:hover > .jsDir.vtl { top:0; opacity:1; }

	/** 위치 **/
    	.jsDir.vtl span { position:absolute; transition:all .3s ease; }
		.jsDir.vtl.left span { left:0; }
		.jsDir.vtl.right span { right:0; }

        .jsDir.vtl .prev { background-color:rgba(0,0,0,.2); background-repeat:no-repeat; background-position:50% 50%; }
        .jsDir.vtl .next { background-color:rgba(0,0,0,.2); background-repeat:no-repeat; background-position:50% 50%; }


	/** 사이즈 **/
		/* 화이트 */
		/* 15px */
		.jsDir.vtl.s15w span { width:18px; height:18px; }
        .jsDir.vtl.s15w .prev { background-image:url('/_wg/img/_arrow/arrowVLW_15.gif'); }
        .jsDir.vtl.s15w .next { top:18px; background-image:url('/_wg/img/_arrow/arrowVRW_15.gif'); }

		/* 21px */
		.jsDir.vtl.s21w span { width:30px; height:30px; }
        .jsDir.vtl.s21w .prev { background-image:url('/_wg/img/_arrow/arrowVLW_21.gif'); }
        .jsDir.vtl.s21w .next { top:30px; background-image:url('/_wg/img/_arrow/arrowVRW_21.gif'); }

		/* 35px */
		.jsDir.vtl.s35w span { width:50px; height:50px; }
        .jsDir.vtl.s35w .prev { background-image:url('/_wg/img/_arrow/arrowVLW_35.gif'); }
        .jsDir.vtl.s35w .next { top:50px; background-image:url('/_wg/img/_arrow/arrowVRW_35.gif'); }

		/* 50px */
		.jsDir.vtl.s50w span { width:65px; height:65px; }
        .jsDir.vtl.s50w .prev { background-image:url('/_wg/img/_arrow/arrowVLW_50.gif'); }
        .jsDir.vtl.s50w .next { top:65px; background-image:url('/_wg/img/_arrow/arrowVRW_50.gif'); }


		/* 블랙 */
		/* 15px */
		.jsDir.vtl.s15b span { width:18px; height:18px; }
        .jsDir.vtl.s15b .prev { background-image:url('/_wg/img/_arrow/arrowVL_15.gif'); }
        .jsDir.vtl.s15b .next { top:18px; background-image:url('/_wg/img/_arrow/arrowVR_15.gif'); }

		/* 21px */
		.jsDir.vtl.s21b span { width:30px; height:30px; }
        .jsDir.vtl.s21b .prev { background-image:url('/_wg/img/_arrow/arrowVL_21.gif'); }
        .jsDir.vtl.s21b .next { top:30px; background-image:url('/_wg/img/_arrow/arrowVR_21.gif'); }

		/* 35px */
		.jsDir.vtl.s35b span { width:45px; height:45px; }
        .jsDir.vtl.s35b .prev { background-image:url('/_wg/img/_arrow/arrowVL_35.gif'); }
        .jsDir.vtl.s35b .next { top:45px; background-image:url('/_wg/img/_arrow/arrowVR_35.gif'); }

		/* 50px */
		.jsDir.vtl.s50b span { width:65px; height:65px; }
        .jsDir.vtl.s50b .prev { background-image:url('/_wg/img/_arrow/arrowVL_50.gif'); }
        .jsDir.vtl.s50b .next { top:65px; background-image:url('/_wg/img/_arrow/arrowVR_50.gif'); }


    div > .jsDir.vtl span:hover { background-color:rgba(0,0,0,.4) !important; }/* 마우스오버시 버튼색상 */
