
	#left h2 { height:45px; line-height:45px; margin:5px 0 15px; text-indent:10px; }

/** 콜센터 **/
	#left .oper_time h4 { display:none; }
	#left .oper_time {line-height:1.4rem; margin:0 0 15px; padding:0 10px 15px; border-bottom:1px solid #e1e1e1;}
	#left .oper_time .phone { margin:0 0 15px; font-size:160%; font-weight:700; }
	#left .oper_time strong { padding-right:10px; font-weight:normal; color:#111; }
	#left .oper_time li { color:#777; }
    #left .oper_time .right { margin:10px 0 0; vertical-align:top; }
    #left .oper_time .right a:first-child { display:none; }
    #left .oper_time .right a { width:100%; margin:0 auto 5px; }

/** 상담버튼 **/
#left .counselBtn { display:block; margin:0 0 10px; padding:0 10px 15px; border-bottom:1px solid #e1e1e1; }
#left .counselBtn a { display:block; margin:0 0 5px; font-size:85%; text-align:left; }
#left .counselBtn img { width:17px; height:17px; margin:-2px 0 0; }
#left .counselBtn .talk_banner_preview {height:33px !important;min-height:33px;}
#left .counselBtn .talk_preview_area .talk_banner_preview {font-size:100% !important;font-family:'Pretendard', 'jost', 'Roboto', 'Verdana', 'Open Sans', 'Dotum', 'AppleGothic', '돋움', 'Dotum', 'Helvetica', 'sans-serif', 'xeicon' !important;}



/** FAQ **/
.JS_community,
.JS_faq { position:relative; z-index:30; margin:0 0 5px; padding:0 10px 10px; border-bottom:1px solid #e1e1e1; }
.JS_community h4.title,
.JS_faq h4.title { line-height:40px; text-indent:8px; }
.JS_community more,
.JS_faq more {position:absolute;top:12px;right:14px;}
.JS_community li,
.JS_faq li { position:relative; }
.JS_community a,
.JS_faq a { display:block; color:#555;white-space:nowrap; text-decoration:none; transition:all .3s ease; }
.JS_community a:hover,
.JS_faq a:hover { color:#111; text-decoration:none; }

/* 1depth */
.JS_community > li:first-child,
.JS_faq > li:first-child { border-top:none; }
.JS_community > li,
.JS_faq > li { display:block; position:relative; border-top:1px solid rgba(0,0,0,.05); }
.JS_community > li > a,
.JS_faq > li > a { line-height:35px; padding:0 0 0 5px; color:#555;white-space:nowrap; text-decoration:none; }
.JS_community > li.on > a,
.JS_faq > li.on > a,
.JS_community > li.fix > a,
.JS_faq > li.fix > a { color:#111; }
.JS_community > li.arrow > a,
.JS_faq > li.arrow > a { background:url('/_wg/img/_dot/dotB_3.png') no-repeat 95% 50%; }
.JS_community > li.on.arrow > a,
.JS_faq > li.on.arrow > a { background:url('/_wg/img/_dot/dotB_3.png') no-repeat 97% 50%; }
.JS_community > li > a i,
.JS_faq > li > a i { top:2px; margin:0 5px 0 0;}

/* 2depth */
.JS_faq > li > ul { display:none; position:absolute; top:-10px; left:100%; min-width:100px; padding:10px 0; border:1px solid rgba(0,0,0,.1); background:#fff; box-shadow:0 1px 3px rgba(0,0,0,.1); }
.JS_faq > li > ul > li > a { line-height:2.3em; padding:0 10px; font-size:80%; text-indent:5px; white-space:nowrap; }
.JS_faq > li > ul > li > a:hover,
.JS_faq > li > ul > li.on > a { background-color:rgba(0,0,0,.03); }
.JS_faq > li > ul > li.arrow { background:url('/_wg/img/_dot/dotB_3.png') no-repeat 95% 50%; }
.JS_faq > li > ul > li.on.arrow { background:url('/_wg/img/_dot/dotB_3.png') no-repeat 97% 50%; }

/* 3depth */
.JS_faq > li > ul > li > ul { display:none; position:absolute; top:-8px; left:100%; padding:7px 0; border:1px solid #ddd; background:#fff; }
.JS_faq > li > ul > li > ul > li a { height:30px; line-height:30px; padding:0 10px 0 0; border-bottom:1px solid #eee; color:#333; text-indent:5px; white-space:nowrap; }
.JS_faq > li > ul > li > ul > li a:hover,
.JS_faq > li > ul > li > ul > li.on a { background-color:rgba(0,0,0,.05); }
.JS_faq > li > ul > li > ul > li.arrow { background:url('/_wg/img/_dot/dotB_3.png') no-repeat 95% 50%; }
.JS_faq > li > ul > li > ul > li.on.arrow { background:url('/_wg/img/_dot/dotB_3.png') no-repeat 97% 50%; }



/** 좌측메뉴 **/
    .leftMenu { position:relative; z-index:10; margin:0; padding:0 10px 5px; }
    .leftMenu li:first-child { border-top:none; }
    .leftMenu li { position:relative; border-top:1px solid rgba(0,0,0,.05); }
    .leftMenu a { display:block; line-height:35px; padding:0 0 0 5px; color:#555; font-size:90%; white-space:nowrap; text-decoration:none; transition:all .3s ease; }
    .leftMenu a:hover { color:#111; text-decoration:none; }
    .leftMenu a i { top:2px; margin:0 5px 0 0; font-size:1rem; }