    .timeSaleBnr { position:relative; float:right; width:400px; height:600px; margin:0 0 40px; overflow:hidden; outline:1px solid #ddd; }
    .timeSaleBnr iframe { width:100%; height:100%; }

    /* 1280px 이하 */
    @media all and (max-width:1285px){
        .timeSaleBnr { width:310px; height:466px; }
    }





    .timeLayer { display:block; position:relative; width:400px; }

    .timeLayer h4 { transition:all .3s ease; -webkit-transition:all .3s ease; }
    .timeLayer h4:hover { filter:alpha(opacity=40); opacity:.4; -webkit-opacity:.4; }

    /* 타이머 */
    .timeLayer .timer { display:block; height:60px; margin:10px 0; padding:0 10px; font-size:15px; text-align:center; }
    .timeLayer .comment { display:block; line-height:60px; background:#eee; border-radius:5px; -webkit-border-radius:5px; font-size:15px; color:#333; }

    /* 타임아웃 워터마크 */
    .timeLayer .time_out { display:none; position:absolute; z-index:10; width:100%; height:100%; background:url('/_wg/img/SD_timeSale/out_bg.png') no-repeat 50% 50% #fff; filter:alpha(opacity=70); opacity:.7; -webkit-opacity:.7; }
    .timeLayer .item.on .time_out { display:block; }
    .timeLayer .section { display:inline-block; height:60px; line-height:60px; margin:0 -2px 0 6px; padding:0 0 0 5px; background:url('/_wg/img/SD_timeSale/time_bg.png') no-repeat; background-position:right 17px; background-size:67px 28px; font-size:15px; font-weight:400; letter-spacing:.8em; color:#fff; }

    /* 리스트 */
    .timeLayer .thumbnail { position:relative; width:92%; margin:0 auto 15px; font-size:0; line-height:0; outline:1px solid #eee; vertical-align:top; }
    .timeLayer .thumbnail img { width:100%; max-width:100%; }

    .timeLayer .spec { display:none; }

    /* 할인율 */
    .discount_rate_timeLayer { position:absolute; z-index:5; display:block; top:10px; right:10px; width:50px; height:50px; line-height:50px; background:rgba(239,45,45,.9); border-radius:100%; -webkit-border-radius:100%; font-family:'arial'; font-size:18px; font-weight:bold; color:#fff; cursor:pointer; text-align:center; }
    .discount_rate_timeLayer span { margin-left:2px; font-size:13px; }