.ec-base-prdInfo {position:relative;padding:0;box-sizing:border-box;background:#fff;letter-spacing:-0.025em}
.ec-base-prdInfo .prdCheck { display:inline-block; margin-bottom:7px; }
.ec-base-prdInfo .prdBox {position: relative;display: -webkit-box;display: -ms-flexbox;display: flex;}
.ec-base-prdInfo .thumbnail { overflow:hidden; width:73px; height:73px; margin-right:15px; border:1px solid #d5d5d5; box-sizing:border-box; }
.ec-base-prdInfo .thumbnail img { width:100%; }
.ec-base-prdInfo .description {-webkit-flex:1;-ms-flex:1;flex:1;overflow:hidden;}
.ec-base-prdInfo .description .prdName {display:block;font-size:13px;}
.ec-base-prdInfo .description .prdName a { color:#4a5164; }
.ec-base-prdInfo .description .prdName .ec-set-product-name { display:block; margin:0 0 3px; }
.ec-base-prdInfo .description .info { margin:0 0 14px; }
.ec-base-prdInfo .description .info li { margin:0 0 7px; font-size:12px; color:#757575; }
.ec-base-prdInfo .description .info li .mileage { display:inline-block; }
.ec-base-prdInfo .description .info .price {font-size:15px;color:#000;}
.ec-base-prdInfo .description .info .price strong {font-weight:600}
.ec-base-prdInfo .description .info .price .refer { font-weight:normal; font-size:11px; }
.ec-base-prdInfo .description .info .price .discount { font-weight:normal; text-decoration:line-through; }
.ec-base-prdInfo .description .info .price .strike { font-weight:normal; text-decoration:line-through; }
.ec-base-prdInfo .description .info .price .strike strong { font-weight:normal; }
.ec-base-prdInfo .description .price .quantity { position:relative; display:inline-block; margin:0 0 0 10px; padding:0 0 0 14px; font-size:13px; }
.ec-base-prdInfo .description .price .quantity:before { display:block; content:""; position:absolute; top:1px; left:0; width:1px; height:13px; background:#989899; }
.ec-base-prdInfo .description input[type="number"] { max-width:51px; }
.ec-base-prdInfo .description .info .amount button { margin:0; padding:0; border:0; } /* gift > quantity */
.ec-base-prdInfo .description .info .amount { width:50px; }
.ec-base-prdInfo .description .info input.amount { text-align:right; }
.ec-base-prdInfo .description  input[type="tel"] { text-align:right; }
.ec-base-prdInfo .description .quantity input[type="tel"] { width:51px; }
.ec-base-prdInfo .description .ico_dot_wrap {position:relative;display:inline-flex;-webkit-box-pack:center;justify-content:center;-webkit-box-align:center;align-items:center;width:2px;height:1em;vertical-align:middle;margin-left:4px;margin-right:4px;}
.ec-base-prdInfo .description .ico_dot {width:2px;height:2px;border-radius:50%;background-color:rgb(17, 17, 17);opacity:0.4;}

.ec-base-prdInfo .prdFoot {padding:6px 0;line-height:26px;text-align:center;}
.ec-base-prdInfo .prdFoot:after { content:''; display:block; clear:both; }
.ec-base-prdInfo .prdFoot .gLeft {float:left;text-align:left;color:#154493;}
.ec-base-prdInfo .prdFoot .gRight { float:right; text-align:right; }
.ec-base-prdInfo .prdFoot .store { color:#000; font-weight:normal; }
.ec-base-prdInfo .prdFoot .btnBasic { font-weight:normal; background-color:#fff; }
.ec-base-prdInfo .prdFoot span > span > span { font-size:11px; }
.ec-base-prdInfo .prdFoot span span.discount { text-decoration:line-through; }
.ec-base-prdInfo .prdFoot span span.discount strong {font-weight:normal; }
.ec-base-prdInfo .prdFoot .status {display:none;}
@media all and (max-width:575px) {
    .ec-base-prdInfo .prdFoot .gLeft {width:100%;text-align:center;font-size:16px;}
}

.ec-base-prdInfo p.option { margin:0 14px; padding:14px 0; border-top:1px solid #ececec; font-size:13px; }
.ec-base-prdInfo .option { padding:0; color:#353535; }
.ec-base-prdInfo .option > li { border-top:1px solid #ececec; }
.ec-base-prdInfo .option > li .name { display:-webkit-flex; display:-moz-flex; display:-ms-flex; display:flex; min-height:29px; margin:7px 0; -webkit-justify-content:space-between; -moz-justify-content:space-between; -ms-justify-content:space-between; justify-content:space-between; -webkit-align-items:center; -moz-align-items:center; -ms-align-items:center; align-items:center; }
.ec-base-prdInfo .option > li .name > select { max-width:80%; }
.ec-base-prdInfo .option > li .optionDesc { word-break:break-all; }
.ec-base-prdInfo .option > li .change { margin:0 0 0 5px; white-space:nowrap; }
.ec-base-prdInfo .option .file a { margin:0 0 0 4px; padding:0 0 0 11px; color:#80aeef; text-decoration:underline; background:url("//img.echosting.cafe24.com/skin/mobile_ko_KR/order/ico_attach.png") no-repeat 0 0; background-size:8px 13px; }
.ec-base-prdInfo .layerOptionModify { display:none; width:auto; margin:7px 0 14px; padding:14px; border:1px solid #d5d5d5; background-color:#f1f1f1; }
.ec-base-prdInfo .layerOptionModify .titleArea { margin-top:3px; display:none; }
.ec-base-prdInfo .layerOptionModify ul { padding:0; font-size:12px; }
.ec-base-prdInfo .layerOptionModify li { position:relative; margin:0 0 7px; padding:0 0 0 73px; }
.ec-base-prdInfo .layerOptionModify li .optionItem { display:block; position:absolute; top:0; left:0; width:73px; height:29px; font-size:13px; color:#757575; line-height:29px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; }
.ec-base-prdInfo .layerOptionModify select,
.ec-base-prdInfo .layerOptionModify input[type="text"] { width:100%; }
.ec-base-prdInfo .layerOptionModify .ec-base-button.gCenter { margin:0; }

/* orderList > ec-base-prdInfo  */
.orderList .ec-base-prdInfo .option { margin:0; }
/* order_result.html > orderArea > ec-base-prdInfo */
.orderArea .ec-base-fold .ec-base-prdInfo { border-bottom:1px solid #d5d5d5; }
.orderConfirmLayer .orderArea .ec-base-prdInfo { border-bottom:0; }
.orderArea .ec-base-prdInfo + .ec-base-prdInfo { border-top:1px solid #d5d5d5; }


/****** 수정 ********************************************************************************************************************************************************************/
.ec-base-prdInfo .thumbnail { border:1px solid #eee; }
.ec-base-prdInfo .description .prdName a {max-height: 44px;font-size:15px;line-height: 22px;font-weight: 600;letter-spacing: -0.025em;}
.ec-base-prdInfo .description .info li { margin:0 0 3px; font-size:95%; color:#111; }
.ec-base-prdInfo .description .info .price {display:inline-block;font-size:16px;color:#111;}
.ec-base-prdInfo .description .info li strong { font-weight:normal; }
.ec-base-prdInfo .description .info .strike { float:left; padding:0 15px 0 0; font-size:85%; background:url('/_wg/img/_arrow/arrowR_15.gif') no-repeat 100% 50%; color:#777; text-decoration:line-through; }

.ec-base-prdInfo .layerOptionModify { margin:0; padding:0; border:none; background-color:rgba(0,0,0,0); }
.ec-base-prdInfo .layerOptionModify li { padding:0 0 0 85px; }
.ec-base-prdInfo .layerOptionModify select,
.ec-base-prdInfo .layerOptionModify input[type="text"] { max-width:250px; width:100%; }
.ec-base-prdInfo .layerOptionModify .ec-base-button.gCenter { position:absolute; bottom:-61px; left:128px; margin:0; }

.ec-base-prdInfo .prdFoot {border:1px solid #ddd;border-width:0 0 1px;background:#fff; font-weight:normal;color:#111;font-size:90%;}
.ec-base-prdInfo .option .file a { color:#111; }

.ec-base-prdInfo p.option { border-top:1px solid #ddd; }

/* 추가 */
.ec-base-prdInfo .option .btnBasic,/*옵션변경*/
.ec-base-prdInfo .layerOptionModify .ec-base-button.gCenter .btnStrong { margin:0; }

.ec-base-prdInfo #sPrdPrice { color:#111; }
.ec-base-prdInfo .mileage { font-size:80%!important; color:#777!important; }
.ec-base-prdInfo .icon img { margin:0 3px 0 0; }

/* 주문조회 */
.order {
    box-sizing:border-box;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 2px 4px 0px, rgba(0, 0, 0, 0.32) 0px 0px 1px 0px;
    background-color: rgb(255, 255, 255);
    margin-bottom: 20px;
    padding: 24px 24px 16px;
}
.orderStatus {-webkit-box-pack:start;justify-content:flex-start;-webkit-box-align:center;align-items:center;width:60%;display:flex;font-size:130%;}
.orderStatus span {display:inline-block;}
.orderStatus .status {margin-left:10px;color:#154493}
.orderdate {display:flex;margin:0 0 4px 0;-webkit-box-pack:justify;justify-content:space-between;}
.orderdate .date {display:inline-block;font-weight:500;}
.orderdate .number {text-align:right;display:inline-flex;width:auto;vertical-align:top;-webkit-box-pack:end;justify-content:flex-end;}
.orderdate .number a {color:#154493}
.orderdate .number .icon-arrow {display:inline-block;vertical-align:top;margin:1px 0 0;}
.orderList .request {margin-top:18px;text-align:center;}
.orderList .request a.btnNormal {width:150px;color:#154493;border-color:#154493;font-size:15px;}
.payDetail {float:left;width:100%;letter-spacing:-0.025em;}
@media all and (max-width:575px) {
    .ec-base-prdInfo .prdFoot .status {display:block;}
    .orderdate .number .icon-arrow {vertical-align:sub}
    .orderStatus .status {display:none;}
    .orderList .request a.btnNormal {width:120px;}
}