.cp561 { display:; position:fixed; z-index:999; top:0; left:0; width:10px; height:100%; background:#fff; box-shadow:inset 0 0 15px rgba(0,0,0,.3); cursor:pointer; transition:all .3s ease!important; }
.cp561:hover { width:100px; }
.cp561 input { opacity:0; width:0; height:0; }

.cp561 .onoff-switch { position:absolute; top:0; left:0; right:0; bottom:0; width:100%; height:100%; font-size:12px; color:#111; }
.cp561 .onoff-switch:after { position:absolute; }
.cp561 .onoff-switch:before { content:""; position:absolute; top:50%; left:50%; width:15px; height:19px; background-color:#none; border:2px solid #333; transform:translate(-50%,-50%); transition:all .3s ease; }
.cp561 .load .onoff-switch:before { -webkit-transition:.5s; transition:.5s; }
.cp561 .switch-button.on .onoff-switch { background-color:#none; }
.cp561 .switch-button.on .onoff-switch:before { width:23px; height:13px; }
.cp561 .switch-button .onoff-switch:after { content:''; left:15px; top:4px; }
.cp561 .switch-button.on .onoff-switch:after { content:''; left:5px; }
@media all and (max-width:1200px) {
    .cp561 { display:none; }
}