
    .cp305 { position:relative; width:100%; max-width:1260px; margin:0 auto 40px/*하단여백*/; }
    .cp305:after { content:""; display:block; *zoom:1; clear:both; }

	.cp305 a { display:block; overflow:hidden; }
	.cp305 img { width:100%; }

    .cp305 section:nth-child(1) { margin:0 0 1.586% 0; }
    .cp305 section:nth-child(1):after { content:""; display:block; *zoom:1; clear:both; }

/** 슬라이드 영역 **/
    #cp305_slide { position:relative; z-index:1; float:left; width:61.906%; overflow:hidden; }

    #cp305_slide .owl-carousel.ul { position:relative; z-index:1; width:100%; height:100%; box-sizing:border-box; overflow:hidden; }
    #cp305_slide .owl-carousel.ul li { width:100%; background-position:50% 100%; background-repeat:no-repeat; }
    #cp305_slide .owl-carousel.ul li img { width:100%; }

	/* 버튼 */
    #cp305_slide .owl-dots { position:absolute; z-index:10; bottom:10px; width:100%; text-align:center; opacity:0; transition:opacity .3s 8s ease; }
    #cp305_slide:hover .owl-dots { opacity:1.0; transition-delay:0s; }
    #cp305_slide .owl-dots .owl-dot { display:inline-block; position:relative; width:15px; height:3px; margin:0 2px; box-shadow:0 1px 3px rgba(0,0,0,.2); border-radius:20px; background:rgba(255, 255, 255, 0.5); cursor:pointer; box-sizing:border-box; overflow:hidden; }
    #cp305_slide .owl-dots .owl-dot span { position:absolute; z-index:2; left:0; top:0; width:0; height:3px; background:rgba(255,255,255,.5); } /* 타이머 */
    #cp305_slide .owl-dots .owl-dot.active { width:25px; background:rgba(0,0,0,.8); color:#fff; }

	/* 화살표 */
    #cp305_slide .owl-nav { position:absolute; z-index:10; top:50%; width:100%; height:0; margin-top:-22.5px; opacity:0; cursor:pointer; transition:all .3s ease; }
    #cp305_slide:hover .owl-nav { opacity:1; }
        #cp305_slide .owl-prev { position:absolute; left:-5px; width:35px; height:45px; background-image:url('/_wg/img/_arrow/arrowLW_21.gif'); background-color:rgba(0,0,0,.2); background-repeat:no-repeat; background-position:50% 50%; transition:all .3s ease; text-indent:-9999px; }
        #cp305_slide:hover .owl-prev { left:0; opacity:1.0; }
        #cp305_slide:hover .owl-prev:hover { background-color:rgba(0,0,0,.4); }
        #cp305_slide .owl-next { position:absolute; right:-5px; width:35px; height:45px; background-image:url('/_wg/img/_arrow/arrowRW_21.gif'); background-color:rgba(0,0,0,.2); background-repeat:no-repeat; background-position:50% 50%; transition:all .3s ease; text-indent:-9999px; }
        #cp305_slide:hover .owl-next { right:0; opacity:1.0; }
        #cp305_slide:hover .owl-next:hover { background-color:rgba(0,0,0,.4); }

    .cp305 section:nth-child(1) .right { display:block; float:right; width:36.508%; }

    .cp305 section:nth-child(2) a { float:left; }
    .cp305 section:nth-child(2) a:nth-child(1) { width:30.159%; margin:0 1.588% 0 0; }
    .cp305 section:nth-child(2) a:nth-child(2) { width:30.159%; margin:0 1.588% 0 0; }
    .cp305 section:nth-child(2) a:nth-child(3) { width:36.508%; margin:0 0 1.586% 0; }
    
	/* 스마트폰 세로 */
	@media all and (max-width:575px) {
        .cp305 { width:96%; margin:0 2% 40px; }
		#cp305_slide { width:100%; margin:0 0 10px; }
        .cp305 section:nth-child(1) .right { width:100%; }
	}